[project]
	description = Ariel Duarte (c)2014
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/iarielduarte (iarielduarte)
[access "refs/for/refs/*"]
	read = group user/iarielduarte (iarielduarte)
	push = group user/iarielduarte (iarielduarte)
	label-Code-Review = -2..+2 group user/iarielduarte (iarielduarte)
	label-Verified = -1..+1 group user/iarielduarte (iarielduarte)
	rebase = group user/iarielduarte (iarielduarte)
	removeReviewer = group user/iarielduarte (iarielduarte)
	submit = group user/iarielduarte (iarielduarte)
[access "refs/heads/*"]
	read = group user/iarielduarte (iarielduarte)
	create = group user/iarielduarte (iarielduarte)
	push = +force group user/iarielduarte (iarielduarte)
	pushMerge = group user/iarielduarte (iarielduarte)
[access "refs/tags/*"]
	push = +force group user/iarielduarte (iarielduarte)
	pushTag = group user/iarielduarte (iarielduarte)
	pushSignedTag = group user/iarielduarte (iarielduarte)
